.idea
django_venv/
first_projects/first_project/__pycache__/
my_site/my_site/__pycache__/
my_site/blog/__pycache__/
first_projects/horoscope/__pycache__/
my_site/geometry/__pycache__/
first_projects/week_days/__pycache__/
first_projects/horoscope/migrations/
first_projects/week_days/migrations/
my_site/blog/migrations/
my_site/geometry/migrations/
movies/__pycache__/
films/__pycache__/
movies/films/migrations/
movies/films/__pycache__/
movies/movies/__pycache__/
feedback_page/form/__pycache__/
feedback_page/feedback_page/__pycache__/