{% extends 'base.html' %}

{% load static %}

{% load my_filter %}

{% block css %}
<link rel="stylesheet" href="{% static 'horoscope/css/menu.css' %}">
{% endblock%}


{% block title%}
Menu
{% endblock %}

{% block content%}
<p>{{sign_type|split:' '}}</p>
    {% for i in 10|circle %}
        <p>{{i}}</p>
    {% endfor %}
<ul>
    {% for znak in signs %}
        {% if forloop.first %}
            <h1>Начало списка</h1>
            <li><a href="{% url 'get_sign' sign_zodiak=znak %}">{{znak|title}}</a></li>
            <h1>Середина списка</h1>
        {% elif forloop.last %}
            <h1>Конец списка</h1>
            <li><a href="{% url 'get_sign' sign_zodiak=znak %}">{{znak|title}}</a></li>
        {% else %}
            <li><a href="{% url 'get_sign' sign_zodiak=znak %}">{{znak|title}}</a></li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}

















